USE [RedTelephone]
GO
/****** Object:  Table [dbo].[T_CDFTKT]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CDFTKT](
	[E_TKTTIDC] [varchar](8) NOT NULL,
	[E_TKTTVNE] [decimal](3, 0) NOT NULL,
	[E_TKTCIDC] [decimal](5, 0) NOT NULL,
	[E_TKTPIDC] [decimal](5, 0) NOT NULL,
	[E_TKTFIDT] [varchar](50) NOT NULL,
	[E_TKTFVNE] [decimal](5, 0) NOT NULL,
	[E_TKTEIDT] [varchar](50) NOT NULL,
	[E_TKTEVNE] [decimal](5, 0) NOT NULL,
	[E_TKTPRIC] [char](1) NOT NULL,
	[E_TKTSRTC] [char](1) NOT NULL,
	[E_TKTSROE] [varchar](32) NOT NULL,
	[E_TKTSC1C] [varchar](1) NOT NULL,
	[E_TKTSC2C] [varchar](1) NOT NULL,
	[E_TKTSC3C] [varchar](1) NOT NULL,
	[E_TKTSCOE] [varchar](32) NOT NULL,
	[E_TKTRRMC] [char](1) NOT NULL,
	[E_TKTSTSC] [char](1) NOT NULL,
	[E_TKTCAUC] [char](1) NOT NULL,
	[E_TKTAMC] [char](1) NOT NULL,
	[E_TKTUIEC] [varchar](8) NOT NULL,
	[E_TKTDTEE] [char](14) NOT NULL,
	[E_TKTUIAC] [varchar](8) NOT NULL,
	[E_TKTDTAE] [char](14) NOT NULL,
	[E_TKTUIRC] [varchar](8) NOT NULL,
	[E_TKTDTRE] [char](14) NOT NULL,
	[E_TKTUIUC] [varchar](8) NOT NULL,
	[E_TKTDTUE] [char](14) NOT NULL,
 CONSTRAINT [PK_T_CDFTKT_1] PRIMARY KEY CLUSTERED 
(
	[E_TKTTIDC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_CDFOFF]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CDFOFF](
	[E_OFFCIDC] [decimal](5, 0) NOT NULL,
	[E_OFFPIDC] [decimal](5, 0) NOT NULL,
	[E_OFFIDT] [varchar](50) NOT NULL,
	[E_OFFVNE] [decimal](5, 0) NOT NULL,
	[E_OFFNAM] [varchar](250) NOT NULL,
	[E_OFFSEQC] [decimal](5, 0) NOT NULL,
	[E_OFFIACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CDFOFF] PRIMARY KEY CLUSTERED 
(
	[E_OFFCIDC] ASC,
	[E_OFFPIDC] ASC,
	[E_OFFIDT] ASC,
	[E_OFFVNE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CDFOFF] ([E_OFFCIDC], [E_OFFPIDC], [E_OFFIDT], [E_OFFVNE], [E_OFFNAM], [E_OFFSEQC], [E_OFFIACT]) VALUES (CAST(0 AS Decimal(5, 0)), CAST(1 AS Decimal(5, 0)), N'123', CAST(0 AS Decimal(5, 0)), N'new office 123', CAST(1 AS Decimal(5, 0)), N'A')
INSERT [dbo].[T_CDFOFF] ([E_OFFCIDC], [E_OFFPIDC], [E_OFFIDT], [E_OFFVNE], [E_OFFNAM], [E_OFFSEQC], [E_OFFIACT]) VALUES (CAST(0 AS Decimal(5, 0)), CAST(1 AS Decimal(5, 0)), N'124', CAST(0 AS Decimal(5, 0)), N'office 124', CAST(2 AS Decimal(5, 0)), N'A')
INSERT [dbo].[T_CDFOFF] ([E_OFFCIDC], [E_OFFPIDC], [E_OFFIDT], [E_OFFVNE], [E_OFFNAM], [E_OFFSEQC], [E_OFFIACT]) VALUES (CAST(0 AS Decimal(5, 0)), CAST(1 AS Decimal(5, 0)), N'125', CAST(0 AS Decimal(5, 0)), N'office 125', CAST(3 AS Decimal(5, 0)), N'A')
/****** Object:  Table [dbo].[T_CDFNOT]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CDFNOT](
	[E_NOTTIDC] [varchar](8) NOT NULL,
	[E_NOTNTPC] [char](1) NOT NULL,
	[E_NOTSEQC] [decimal](3, 0) NOT NULL,
	[E_NOTTXTE] [varchar](max) NOT NULL,
	[E_NOTDTEE] [char](14) NOT NULL,
	[E_NOTUIEC] [varchar](8) NOT NULL,
 CONSTRAINT [PK_T_CDFNOT] PRIMARY KEY CLUSTERED 
(
	[E_NOTTIDC] ASC,
	[E_NOTNTPC] ASC,
	[E_NOTSEQC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CDFNOT] ([E_NOTTIDC], [E_NOTNTPC], [E_NOTSEQC], [E_NOTTXTE], [E_NOTDTEE], [E_NOTUIEC]) VALUES (N'00000002', N'A', CAST(784 AS Decimal(3, 0)), N'an1', N'20110722121806', N'fisk')
INSERT [dbo].[T_CDFNOT] ([E_NOTTIDC], [E_NOTNTPC], [E_NOTSEQC], [E_NOTTXTE], [E_NOTDTEE], [E_NOTUIEC]) VALUES (N'00000002', N'D', CAST(345 AS Decimal(3, 0)), N'n1', N'20110722121802', N'fisk')
INSERT [dbo].[T_CDFNOT] ([E_NOTTIDC], [E_NOTNTPC], [E_NOTSEQC], [E_NOTTXTE], [E_NOTDTEE], [E_NOTUIEC]) VALUES (N'00000002', N'P', CAST(822 AS Decimal(3, 0)), N'r1', N'20110722121827', N'fisk')
/****** Object:  Table [dbo].[T_CDFCTT]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CDFCTT](
	[E_CTTCIDC] [decimal](5, 0) NOT NULL,
	[E_CTTCNAM] [varchar](250) NOT NULL,
	[E_CTTSEQC] [decimal](5, 0) NOT NULL,
	[E_CTTIACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CDFCTT] PRIMARY KEY CLUSTERED 
(
	[E_CTTCIDC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CDFCTT] ([E_CTTCIDC], [E_CTTCNAM], [E_CTTSEQC], [E_CTTIACT]) VALUES (CAST(0 AS Decimal(5, 0)), N'FrobGroup', CAST(0 AS Decimal(5, 0)), N'A')
INSERT [dbo].[T_CDFCTT] ([E_CTTCIDC], [E_CTTCNAM], [E_CTTSEQC], [E_CTTIACT]) VALUES (CAST(1 AS Decimal(5, 0)), N'QuxIncorp', CAST(2 AS Decimal(5, 0)), N'A')
INSERT [dbo].[T_CDFCTT] ([E_CTTCIDC], [E_CTTCNAM], [E_CTTSEQC], [E_CTTIACT]) VALUES (CAST(18934 AS Decimal(5, 0)), N'18934', CAST(1 AS Decimal(5, 0)), N'A')
/****** Object:  Table [dbo].[T_CDFCEE]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CDFCEE](
	[E_CEECIDC] [decimal](5, 0) NOT NULL,
	[E_CEEPIDC] [decimal](5, 0) NOT NULL,
	[E_CEEEIDT] [varchar](50) NOT NULL,
	[E_CEEEVNE] [decimal](5, 0) NOT NULL,
	[E_CEEEFNM] [varchar](250) NOT NULL,
	[E_CEEEFLM] [varchar](250) NOT NULL,
	[E_CEESEQC] [smallint] NOT NULL,
	[E_CEEIACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CDFCEE] PRIMARY KEY CLUSTERED 
(
	[E_CEECIDC] ASC,
	[E_CEEPIDC] ASC,
	[E_CEEEIDT] ASC,
	[E_CEEEVNE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CDFCEE] ([E_CEECIDC], [E_CEEPIDC], [E_CEEEIDT], [E_CEEEVNE], [E_CEEEFNM], [E_CEEEFLM], [E_CEESEQC], [E_CEEIACT]) VALUES (CAST(0 AS Decimal(5, 0)), CAST(1 AS Decimal(5, 0)), N'1001', CAST(0 AS Decimal(5, 0)), N'new person', N'123', 1, N'A')
INSERT [dbo].[T_CDFCEE] ([E_CEECIDC], [E_CEEPIDC], [E_CEEEIDT], [E_CEEEVNE], [E_CEEEFNM], [E_CEEEFLM], [E_CEESEQC], [E_CEEIACT]) VALUES (CAST(0 AS Decimal(5, 0)), CAST(1 AS Decimal(5, 0)), N'1002', CAST(0 AS Decimal(5, 0)), N'person', N'124', 2, N'A')
INSERT [dbo].[T_CDFCEE] ([E_CEECIDC], [E_CEEPIDC], [E_CEEEIDT], [E_CEEEVNE], [E_CEEEFNM], [E_CEEEFLM], [E_CEESEQC], [E_CEEIACT]) VALUES (CAST(0 AS Decimal(5, 0)), CAST(1 AS Decimal(5, 0)), N'1003', CAST(0 AS Decimal(5, 0)), N'person', N'125', 3, N'A')
/****** Object:  Table [dbo].[E_CDFCMP]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[E_CDFCMP](
	[E_CMPCIDC] [decimal](5, 0) NOT NULL,
	[E_CMPPIDC] [decimal](5, 0) NOT NULL,
	[E_CMPCNAM] [varchar](250) NOT NULL,
	[E_CMPSEQC] [smallint] NOT NULL,
	[E_CMPIACT] [char](1) NOT NULL,
 CONSTRAINT [PK_E_CDFCMP] PRIMARY KEY CLUSTERED 
(
	[E_CMPCIDC] ASC,
	[E_CMPPIDC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[E_CDFCMP] ([E_CMPCIDC], [E_CMPPIDC], [E_CMPCNAM], [E_CMPSEQC], [E_CMPIACT]) VALUES (CAST(0 AS Decimal(5, 0)), CAST(0 AS Decimal(5, 0)), N'Frob Branchs', -1, N'A')
INSERT [dbo].[E_CDFCMP] ([E_CMPCIDC], [E_CMPPIDC], [E_CMPCNAM], [E_CMPSEQC], [E_CMPIACT]) VALUES (CAST(0 AS Decimal(5, 0)), CAST(1 AS Decimal(5, 0)), N'FrobSubsidiaryssss', -1, N'A')
INSERT [dbo].[E_CDFCMP] ([E_CMPCIDC], [E_CMPPIDC], [E_CMPCNAM], [E_CMPSEQC], [E_CMPIACT]) VALUES (CAST(1 AS Decimal(5, 0)), CAST(0 AS Decimal(5, 0)), N'Qux Industries', -1, N'A')
/****** Object:  Table [dbo].[T_CRFTOT]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CRFTOT](
	[E_TOTTNMC] [char](10) NOT NULL,
	[E_RORMDTC] [char](14) NOT NULL,
 CONSTRAINT [PK_T_CRFTOT] PRIMARY KEY CLUSTERED 
(
	[E_TOTTNMC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CRFTOT] ([E_TOTTNMC], [E_RORMDTC]) VALUES (N'T_CRFPNM  ', N'20110720095717')
INSERT [dbo].[T_CRFTOT] ([E_TOTTNMC], [E_RORMDTC]) VALUES (N'T_CRFPRI  ', N'20110707140714')
/****** Object:  Table [dbo].[T_CRFSTS]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CRFSTS](
	[E_STSCODC] [char](1) NOT NULL,
	[E_STSDSCE] [varchar](32) NOT NULL,
	[E_STSSEQC] [smallint] NOT NULL,
	[E_STSIACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CRFSTS] PRIMARY KEY CLUSTERED 
(
	[E_STSCODC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CRFSTS] ([E_STSCODC], [E_STSDSCE], [E_STSSEQC], [E_STSIACT]) VALUES (N'A', N'Adfdfdfd', 3, N'N')
INSERT [dbo].[T_CRFSTS] ([E_STSCODC], [E_STSDSCE], [E_STSSEQC], [E_STSIACT]) VALUES (N'B', N'Bf', 4, N'A')
INSERT [dbo].[T_CRFSTS] ([E_STSCODC], [E_STSDSCE], [E_STSSEQC], [E_STSIACT]) VALUES (N'R', N'Response givens', 1, N'A')
/****** Object:  Table [dbo].[T_CRFSRT]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CRFSRT](
	[E_SRTCODC] [char](1) NOT NULL,
	[E_SRTDSCE] [varchar](32) NOT NULL,
	[E_SRTSEQC] [smallint] NOT NULL,
	[E_SRTIACT] [char](1) NULL,
 CONSTRAINT [PK_T_CRFSRT] PRIMARY KEY CLUSTERED 
(
	[E_SRTCODC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CRFSRT] ([E_SRTCODC], [E_SRTDSCE], [E_SRTSEQC], [E_SRTIACT]) VALUES (N'A', N'Person', 3, N'A')
INSERT [dbo].[T_CRFSRT] ([E_SRTCODC], [E_SRTDSCE], [E_SRTSEQC], [E_SRTIACT]) VALUES (N'B', N'Bdfd', 0, N'N')
INSERT [dbo].[T_CRFSRT] ([E_SRTCODC], [E_SRTDSCE], [E_SRTSEQC], [E_SRTIACT]) VALUES (N'C', N'Csfd', 1, N'N')
/****** Object:  Table [dbo].[T_CRFSRP3]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CRFSRP3](
	[E_SRP1CODC] [char](1) NOT NULL,
	[E_SRP2CODC] [char](1) NOT NULL,
	[E_SRP3CODC] [char](1) NOT NULL,
	[E_SRP3DSCE] [varchar](32) NOT NULL,
	[E_SRP3SEQC] [smallint] NOT NULL,
	[E_SRP3IACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CRFSRP3] PRIMARY KEY CLUSTERED 
(
	[E_SRP1CODC] ASC,
	[E_SRP2CODC] ASC,
	[E_SRP3CODC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CRFSRP3] ([E_SRP1CODC], [E_SRP2CODC], [E_SRP3CODC], [E_SRP3DSCE], [E_SRP3SEQC], [E_SRP3IACT]) VALUES (N'S', N'B', N'A', N'Es', 0, N'A')
INSERT [dbo].[T_CRFSRP3] ([E_SRP1CODC], [E_SRP2CODC], [E_SRP3CODC], [E_SRP3DSCE], [E_SRP3SEQC], [E_SRP3IACT]) VALUES (N'S', N'P', N'A', N'Bubble Tea', -1, N'A')
INSERT [dbo].[T_CRFSRP3] ([E_SRP1CODC], [E_SRP2CODC], [E_SRP3CODC], [E_SRP3DSCE], [E_SRP3SEQC], [E_SRP3IACT]) VALUES (N'S', N'P', N'N', N'Nespressos', -1, N'A')
/****** Object:  Table [dbo].[T_CRFSRP2]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CRFSRP2](
	[E_SRP1CODC] [char](1) NOT NULL,
	[E_SRP2CODC] [char](1) NOT NULL,
	[E_SRP2DSCE] [varchar](32) NOT NULL,
	[E_SRP2SEQC] [smallint] NOT NULL,
	[E_SRP2IACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CRFSRP2] PRIMARY KEY CLUSTERED 
(
	[E_SRP1CODC] ASC,
	[E_SRP2CODC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CRFSRP2] ([E_SRP1CODC], [E_SRP2CODC], [E_SRP2DSCE], [E_SRP2SEQC], [E_SRP2IACT]) VALUES (N'A', N'A', N'Adfd', 0, N'A')
INSERT [dbo].[T_CRFSRP2] ([E_SRP1CODC], [E_SRP2CODC], [E_SRP2DSCE], [E_SRP2SEQC], [E_SRP2IACT]) VALUES (N'B', N'A', N'A', -1, N'A')
INSERT [dbo].[T_CRFSRP2] ([E_SRP1CODC], [E_SRP2CODC], [E_SRP2DSCE], [E_SRP2SEQC], [E_SRP2IACT]) VALUES (N'B', N'B', N'B', 1, N'A')
/****** Object:  Table [dbo].[T_CRFSRP1]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CRFSRP1](
	[E_SRP1CODC] [char](1) NOT NULL,
	[E_SRP1DSCE] [varchar](32) NOT NULL,
	[E_SRP1SEQC] [smallint] NOT NULL,
	[E_SRP1IACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CRFSRP1] PRIMARY KEY CLUSTERED 
(
	[E_SRP1CODC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CRFSRP1] ([E_SRP1CODC], [E_SRP1DSCE], [E_SRP1SEQC], [E_SRP1IACT]) VALUES (N'A', N'Incompetence', 0, N'A')
INSERT [dbo].[T_CRFSRP1] ([E_SRP1CODC], [E_SRP1DSCE], [E_SRP1SEQC], [E_SRP1IACT]) VALUES (N'B', N'issue source 1', 4, N'A')
INSERT [dbo].[T_CRFSRP1] ([E_SRP1CODC], [E_SRP1DSCE], [E_SRP1SEQC], [E_SRP1IACT]) VALUES (N'H', N'Hardware', 3, N'A')
/****** Object:  Table [dbo].[T_CRFRRM]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CRFRRM](
	[E_RRMCODC] [char](1) NOT NULL,
	[E_RRMDSCE] [varchar](32) NOT NULL,
	[E_RRMSEQC] [smallint] NOT NULL,
	[E_RRMIACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CRFRRM] PRIMARY KEY CLUSTERED 
(
	[E_RRMCODC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CRFRRM] ([E_RRMCODC], [E_RRMDSCE], [E_RRMSEQC], [E_RRMIACT]) VALUES (N'A', N'A', 1, N'A')
INSERT [dbo].[T_CRFRRM] ([E_RRMCODC], [E_RRMDSCE], [E_RRMSEQC], [E_RRMIACT]) VALUES (N'B', N'Bananaphone', 0, N'A')
/****** Object:  Table [dbo].[T_CRFRAM]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CRFRAM](
	[E_RAMCODC] [char](1) NOT NULL,
	[E_RAMDSCE] [varchar](32) NOT NULL,
	[E_RAMSEQC] [smallint] NOT NULL,
	[E_RAMIACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CRFRAM] PRIMARY KEY CLUSTERED 
(
	[E_RAMCODC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CRFRAM] ([E_RAMCODC], [E_RAMDSCE], [E_RAMSEQC], [E_RAMIACT]) VALUES (N'A', N'Ad', 0, N'A')
INSERT [dbo].[T_CRFRAM] ([E_RAMCODC], [E_RAMDSCE], [E_RAMSEQC], [E_RAMIACT]) VALUES (N'B', N'Bananaphones', 1, N'A')
/****** Object:  Table [dbo].[T_CRFPRI]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CRFPRI](
	[E_PRICODC] [char](1) NOT NULL,
	[E_PRIDSCE] [varchar](32) NOT NULL,
	[E_PRISEQC] [smallint] NOT NULL,
	[E_PRIIACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CRFPRI] PRIMARY KEY CLUSTERED 
(
	[E_PRICODC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CRFPRI] ([E_PRICODC], [E_PRIDSCE], [E_PRISEQC], [E_PRIIACT]) VALUES (N'A', N'A', 2, N'A')
INSERT [dbo].[T_CRFPRI] ([E_PRICODC], [E_PRIDSCE], [E_PRISEQC], [E_PRIIACT]) VALUES (N'B', N'Bd', 1, N'N')
INSERT [dbo].[T_CRFPRI] ([E_PRICODC], [E_PRIDSCE], [E_PRISEQC], [E_PRIIACT]) VALUES (N'C', N'CdafsdfdafsfsaCdafsdfdafsfsaCdaf', 3, N'N')
/****** Object:  Table [dbo].[T_CRFPNM]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CRFPNM](
	[E_PNMCODC] [char](2) NOT NULL,
	[E_PNMDSCE] [varchar](32) NOT NULL,
	[E_PNMSEQC] [smallint] NOT NULL,
 CONSTRAINT [PK_T_CRFPNM] PRIMARY KEY CLUSTERED 
(
	[E_PNMCODC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CRFPNM] ([E_PNMCODC], [E_PNMDSCE], [E_PNMSEQC]) VALUES (N'UR', N'Update reference tables.', 2)
INSERT [dbo].[T_CRFPNM] ([E_PNMCODC], [E_PNMDSCE], [E_PNMSEQC]) VALUES (N'UT', N'Update tickets.', 0)
INSERT [dbo].[T_CRFPNM] ([E_PNMCODC], [E_PNMDSCE], [E_PNMSEQC]) VALUES (N'UU', N'Update users.', 1)
/****** Object:  Table [dbo].[T_CRFCAP]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CRFCAP](
	[E_CAPCODC] [char](1) NOT NULL,
	[E_CAPDSCE] [varchar](32) NOT NULL,
	[E_CAPSEQC] [smallint] NOT NULL,
	[E_CAPIACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CRFCAP] PRIMARY KEY CLUSTERED 
(
	[E_CAPCODC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CRFCAP] ([E_CAPCODC], [E_CAPDSCE], [E_CAPSEQC], [E_CAPIACT]) VALUES (N'A', N'A', 4, N'A')
INSERT [dbo].[T_CRFCAP] ([E_CAPCODC], [E_CAPDSCE], [E_CAPSEQC], [E_CAPIACT]) VALUES (N'B', N'Bananaphone', 5, N'A')
INSERT [dbo].[T_CRFCAP] ([E_CAPCODC], [E_CAPDSCE], [E_CAPSEQC], [E_CAPIACT]) VALUES (N'C', N'Cfd', 1, N'A')
/****** Object:  Table [dbo].[T_CDFUSR]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CDFUSR](
	[E_USRUIDC] [varchar](8) NOT NULL,
	[E_USRUPWE] [varchar](64) NOT NULL,
	[E_USRUNFE] [varchar](64) NOT NULL,
	[E_USRUNLE] [varchar](64) NOT NULL,
	[E_USRIACT] [char](1) NOT NULL,
 CONSTRAINT [PK_T_CDFUSR] PRIMARY KEY CLUSTERED 
(
	[E_USRUIDC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'All users.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_CDFUSR'
GO
INSERT [dbo].[T_CDFUSR] ([E_USRUIDC], [E_USRUPWE], [E_USRUNFE], [E_USRUNLE], [E_USRIACT]) VALUES (N'fisk', N'D0kJDYPc6oYqD9/FbufUTDyni21aY2yTy3vFTpis7RmDNrvu0TutYg2XqzIfSFWP', N'Robdert', N'FiskdFiskdFiskdFiskdFiskdFiskdFiskdFiskdFiskdFiskdFiskdFiskdFisk', N'A')
INSERT [dbo].[T_CDFUSR] ([E_USRUIDC], [E_USRUPWE], [E_USRUNFE], [E_USRUNLE], [E_USRIACT]) VALUES (N'snow', N'wWvTWxwy2rPymtxqW0lyR0aXYt0yig+THkrx4pyp25KCulG3eYE1JemiB/ek0vsm', N'Jon', N'Snowddg', N'A')
INSERT [dbo].[T_CDFUSR] ([E_USRUIDC], [E_USRUPWE], [E_USRUNFE], [E_USRUNLE], [E_USRIACT]) VALUES (N't3', N'yYR0sJ5REqgmQlMjBbfchmKNeAcB9V8s2no6skrU8lHLXHwpn9dWgaE9KGD5Mq7E', N'test user', N'3', N'A')
/****** Object:  Table [dbo].[T_CDFUPM]    Script Date: 07/22/2011 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CDFUPM](
	[E_UPMPNMC] [char](2) NOT NULL,
	[E_USRUIDC] [varchar](8) NOT NULL,
 CONSTRAINT [PK_T_CDFUPM] PRIMARY KEY CLUSTERED 
(
	[E_UPMPNMC] ASC,
	[E_USRUIDC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [No duplicates] UNIQUE NONCLUSTERED 
(
	[E_UPMPNMC] ASC,
	[E_USRUIDC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_CDFUPM] ([E_UPMPNMC], [E_USRUIDC]) VALUES (N'UR', N'fisk')
INSERT [dbo].[T_CDFUPM] ([E_UPMPNMC], [E_USRUIDC]) VALUES (N'UR', N'snow')
INSERT [dbo].[T_CDFUPM] ([E_UPMPNMC], [E_USRUIDC]) VALUES (N'UR', N'test')
/****** Object:  Default [DF_T_CDFTKT_E_TKTDTEE]    Script Date: 07/22/2011 15:40:05 ******/
ALTER TABLE [dbo].[T_CDFTKT] ADD  CONSTRAINT [DF_T_CDFTKT_E_TKTDTEE]  DEFAULT ((0)) FOR [E_TKTDTEE]
GO
/****** Object:  Default [DF_T_CDFTKT_E_TKTDTAE]    Script Date: 07/22/2011 15:40:05 ******/
ALTER TABLE [dbo].[T_CDFTKT] ADD  CONSTRAINT [DF_T_CDFTKT_E_TKTDTAE]  DEFAULT ((0)) FOR [E_TKTDTAE]
GO
/****** Object:  Default [DF_T_CDFTKT_E_TKTDTRE]    Script Date: 07/22/2011 15:40:05 ******/
ALTER TABLE [dbo].[T_CDFTKT] ADD  CONSTRAINT [DF_T_CDFTKT_E_TKTDTRE]  DEFAULT ((0)) FOR [E_TKTDTRE]
GO
/****** Object:  ForeignKey [Permissions usernames]    Script Date: 07/22/2011 15:40:05 ******/
ALTER TABLE [dbo].[T_CDFUPM]  WITH CHECK ADD  CONSTRAINT [Permissions usernames] FOREIGN KEY([E_USRUIDC])
REFERENCES [dbo].[T_CDFUSR] ([E_USRUIDC])
GO
ALTER TABLE [dbo].[T_CDFUPM] CHECK CONSTRAINT [Permissions usernames]
GO
