article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
    background-color: white;
    margin-top: 0px;
}
body {
    background-color: #f1c5c3;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    padding-bottom: 5px;
}
a, a:visited {
    color: #220E0B;
}

h1, h2{
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
h1 {
    background-color: #800600;
}
h2 {
    background-color: #bf3730;
    font-size: 14px;
}
table {
	margin-left: auto;
    margin-right: auto;
	border-spacing: 0;
}
th {
	color: white;
	background-color: #bf3730;
	padding-top: 5px;
    padding-bottom: 5px;
	text-align: left;
	min-width: 100px;
}
.ui-datepicker th {
    min-width: 10px;
}
th, td {
	padding-left: 5px;
	padding-right: 5px;
}
hr {
    height: 10px;
    border: 0;
    background-color: #bf3730;
}


section {
    padding-left: 10px;
    padding-right: 10px;
}
nav {
    background-color: #800600;
	color: white;
	font-weight: bold;
}
	nav #centering-hack {
		margin-left: auto;
		margin-right: auto;
	}
    nav ul {  
		padding: 0;
        list-style: none;
		text-align: center;
    }  
	nav ul li { 
		display: inline-block;
		padding: 5px;
	}
footer {
	text-align: center;
	background-color: #800600;
	color: white;
}
footer p {
	padding: 5px;
}
	
	
.largelist {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.form {
	margin-left: auto;
    margin-right: auto;
	display: table;
}
.form-row {
	display: table-row;
}
.form-cell {
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
}
.fresh {
    color: gray;
}

/*required and readonly field coloring*/
.required 
{
    background-color: #FF9E9E;
}
input[readonly], input[readonly="readonly"]
{
    background-color: #E0E0E0;
}

/*pager styling - to indicate interactivity, really...*/
.pg-normal, .pg-selected {
    cursor: pointer;
}
.pg-selected {
    font-weight: bold;